@CHARSET "UTF-8";

#header {
	color: #CC0000;
	background-color: #bb0000;
	height: 120px;
	font-size: 40px;
	padding-top: 1px;
	padding-left: 12px;
}


body {
	background-image: url("bg1.gif");
	background-repeat: repeat;
	margin: 0;
}

body.top {
	background-size:cover;
	background-image: url("mama5.gif");
	background-repeat: repeat;
	margin: 0;
}

#contents table.style {
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	color: #CC0000;
	border-collapse: collapse;
	border: 1px solid #DC143C;
}
/* thの指定 */
#contents table.style th {
	font-weight: normal;
	font-color: #CC0000;
	background-color: #FFEBCD;
	border: 1px solid #DC143C;
	text-align: center;
	padding: 12px;
}
/* tr tdの指定 */
#contents table.style tr td {
	width: 583px;
	font-color: #CC0000;
	background-color: #ffffe0;
	border: 1px solid #DC143C;
	text-align: center;
	font-size: 40px;
	padding: 12px;
}

#contents table.cart {
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	border-collapse: collapse;
	border: 1px solid #DC143C;
}


#contents table.cart_01{
width: 100%;
border-collapse: collapse;
}
table.cart_01 th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.sample_01 td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

/*#contents table.cart tr td {
	width: 100px;
	font-color: #CC0000;
	background-color: #ffffe0;
	border: 1px solid #DC143C;
	text-align: center;
	font-size: 15px;
	padding: 10px;
}*/

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
}

#menu li a {
	display: block;
	border-left: 8px solid #C97556;
	background-color: #ffdead;
	padding: 3px 10px;
	text-decoration: none;
	color: #CC0000;
	width: 288px;
	height: 60px;
	margin: 1px 0px;
	text-align: center;
	font-size: 40px;
}

#menu li a:hover {
	border-left: 8px solid #990033;
	background-color: #FF5192;
}

/*左サイドバー*/
label {
    background: #F08080;
    color: #00008B;
    padding: 10px;
    display: block;
    margin: 0;
    border: 1px solid #990033;
    font-size:30px;
	border-left: 12px solid #990033;
}

input[type="checkbox"].on-off{
    display: none;
}

.menu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    background: #FFE4E1;
	border-left: 12px solid #990033;
}

.menu li {
    padding: 15px;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 180px;
}
#nav2 {
	float: left;
	width: 300px; /* サイドバーの幅 */
}

/*右サイドバー*/
#menu3 ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu3 li{
	display: inline;
	padding: 0;
	margin: 0;
}
#menu3 li a{
	display: block;
	border: 1px solid #990033;
	border-left: 12px solid #F08080;
	background-color: #FFE4E1;
	padding: 10px 10px;
	text-decoration: none;
	color: #00008B;
	width: 270px;
	margin: 0px 0px;
	text-align: left;
	font-size: 30px;
}
#menu3 li2 a{
	display: block;
	border-left: 12px solid #990033;
	background-color: #F08080;
	padding: 10px 10px;
	text-decoration: none;
	color: #00008B;
	width: 270px;
	margin: 0px 0px;
	text-align: left;
	font-size: 30px;
}
#menu3 li a:hover{
	border-left: 12px solid #990033;
	background-color: #F08080;
}
#menu3 li2 a:hover{
	border-left: 12px solid #990033;
	background-color: #F08080;
}

#nav3 {
	float: right;
	width: 300px; /* サイドバーの幅 */
}

.btn {
	width: 150px;
	padding-top: 3px;
	padding-bottom: 1px;
	cursor: pointer;
}

appIconBig {
	display: block;
	text-align: center;
}

font {
	font-size: 28px;
}
f1{
	background-color: #FFEBCD;
	font-weight: bold;
}

.btn1 {
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	font-family: Arial;
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center
}

.btn1:hover {
	background: #fcbc3c;
	text-decoration: none;
}

#contents table.maintable{
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	border: 1px solid #DC143C;
}
#contents table.maintable tr{
	height:60px;
	font-size:20px;
}
select{
font-size:130%;
}




#contents table.style2 {
	border-style: solid #DC143C;
	background-color: transparent;
	color: transparent;
	border-collapse: collapse;
	border: 1px;
}
/* thの指定 */
#contents table.style2 th {
	font-weight: normal;
	font-color: #CC0000;
	background-color: transparent;
	border: 1px;
	text-align: center;
	padding: 12px;
}
/* tr tdの指定 */
#contents table.style2 tr td {
	width: 583px;
	font-color: transparent;
	background-color: transparent;
	border: 1px;
	text-align: center;
	font-size: 40px;
	padding: 12px;
}
