@CHARSET "UTF-8";


/*//////////■textStyle settings■//////////*/

/*----------▼回り込み▼----------*/

/*■float関係*/
.xc_floatRight {
  float:right;
}
.xc_floatLeft {
  float:left;
}
.xc_clearBoth {
  clear:both;
}


/*■クリアプロパティ*/
.xc_headerClear {
  clear:both;
}
.xc_footerClear {
  clear:both;
}



/*----------▼マージン▼----------*/

.xc_margin5px {
margin:5px;
}

.xc_margin10px {
margin:10px;
}

.xc_margin10-7-0-7 {
margin:10px 7px 0 7px
}


/*■top*/
.xc_marginTop5px {
margin-top:5px
}
.xc_marginTop10px {
margin-top:10px
}
.xc_marginTop15px {
margin-top:15px
}
.xc_marginTop20px {
margin-top:20px;
}


/*■Right*/
.xc_marginRight3px {
margin-right:3px
}
.xc_marginRight5px {
margin-right:5px
}
.xc_marginRight10px {
margin-right:10px
}
.xc_marginRight15px {
margin-right:15px
}
.xc_marginRight20px {
margin-right:20px
}


/*■bottom*/
.xc_marginBottom5px {
margin-bottom:5px
}
.xc_marginBottom10px {
margin-bottom:10px
}
.xc_marginBottom15px {
margin-bottom:15px
}
.xc_marginBottom20px {
margin-bottom:20px
}
.xc_marginBottom200 {
margin-bottom:200px;
}


/*■left*/
.xc_marginLeft3px {
margin-left:3px
}
.xc_marginLeft5px {
margin-left:5px
}
.xc_marginLeft10px {
margin-left:10px
}
.xc_marginLeft15px {
margin-left:15px
}
.xc_marginLeft20px {
margin-left:20px
}
.xc_marginLeft150px {
margin-left:150px
}




/*----------▼text-align▼----------*/

.xc_textCenter {
text-align:center;
}
#xc_textCenter {
text-align:center;
}
.xc_textRight {
text-align: right;
}
#xc_textRight {
text-align: right;
}
.xc_textLeft {
text-align:left;
}
#xc_textLeft {
text-align:left;
}




/*----------▼other▼----------*/


.xc_hrCenter {
border-top:1px solid silver;
padding-top:5px;
text-align:center;
background-color:white;
}

hr.xc_hr1pxDashed {
border:1px dashed silver;
border-width:1px 0 0 0;
height:1px;
}

.xc_borderTop1px {
border-top:1px solid silver;
}
.xc_borderBottom1px {
border-bottom:1px solid silver;
}

#xc_borderBottom1px {
border-bottom:1px solid silver;
}
#xc_borderBottom1pxDashed {
border-bottom:1px dashed silver;
}

#xc_borderBottom2px {
border-bottom:2px solid #9a9a9a;
}



/*----------▼font▼----------*/
.xc_text10px {
font-size:10px;
}

.xc_bold {
font-weight:bold;
}

.xc_orange {
color:#FF6600;
font-weight:bold;
}

.xc_red {
color:#FF0000;
}

#bgGray {
background-color:gray;
}


/*----------▼spacer▼----------*/

.xc_spacer1x1 {
width:1px;
heght:1px;
margin:0;
padding:0;
}