@CHARSET "UTF-8";

#bdr4 table{
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 10px 10px;
}

#bdr4 table tr td{
	width: 350px;
	height: 450px;
	text-align: center;
	font-size: 30px;
	padding: 2px;border: inset 2px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#bdr4 table tr td input[type="submit"]{
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	/* font-family: Arial; */
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;font-size: 20px;
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}






#bdr3 table{
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 10px 10px;
}

#bdr3 table tr td{
	width: 300px;
	height: 400px;
	text-align: center;
	font-size: 30px;
	padding: 2px;border: inset 2px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#bdr3 table tr td input[type="submit"]{
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	/* font-family: Arial; */
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;font-size: 20px;
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

#bdr2 table{
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 10px 10px;
}

#bdr2 table tr td{
	width: 700px;
	height: 400px;
	text-align: center;
	font-size: 20px;
	padding: 2px;border: inset 2px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#bdr2 table tr td input[type="submit"]{
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	/* font-family: Arial; */
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;font-size: 20px;
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

