@CHARSET "UTF-8";

#fitting{
	text-align: center;
	width: 500px;
	height: 600px;
	padding: 25px 25px;
	border: solid 5px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#fitting img.set{
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;

}

#fitting img.move{
	width: 150px;
	height: 150px;
	position:absolute;
}