@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-image: url("bg1.gif");
}
/* ページ全体のレイアウト */
#container {
	width: 1580px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*---------- ヘッダ用 ----------*/
#boxA {
	background-color: #bb0000;
	height: 120px;
	font-size: 40px;
}

#boxA table{
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

#boxA td.usrs{
	text-align: right;
	vertical-align: bottom;
	margin: 0;
}
/*---------- ヘッダ用ここまで ----------*/

/* boxB,Cを内包 */
#wrapper {
	width: 1264px;
	float: left;
}

/*---------- 右メニュー ----------*/
#boxD {
	width: 316px;
	float: left;
	background:#fcc;
}

#boxD ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#boxD li{
	display: inline;
	padding: 0;
	margin: 0;
}
#boxD li a{
	display: block;
	border: 1px solid #990033;
	border-left: 12px solid #F08080;
	background-color: #FFE4E1;
	padding: 10px 10px;
	text-decoration: none;
	color: #00008B;
	width: 270px;
	margin: 0px 0px;
	text-align: left;
	font-size: 30px;
}
#boxD li2 a{
	display: block;
	border-left: 12px solid #990033;
	background-color: #F08080;
	padding: 10px 10px;
	text-decoration: none;
	color: #00008B;
	width: 270px;
	margin: 0px 0px;
	text-align: left;
	font-size: 30px;
}
#boxD li a:hover{
	border-left: 12px solid #990033;
	background-color: #F08080;
}
#boxD li2 a:hover{
	border-left: 12px solid #990033;
	background-color: #F08080;
}
/*---------- 右メニューここまで ----------*/

/* フッタ用 */
#boxE {
	width: 100%;
	clear: left;
}


/* メインコンテンツ */
#boxB {
	width: 948px;
	float: right;
}

/*---------- 左メニュー ----------*/
#boxC {
	width: 316px;
	float: right;
	background:#cfc;
}

#boxC label {
    background: #F08080;
    color: #00008B;
    padding: 10px;
    display: block;
    margin: 0;
    border: 1px solid #990033;
    font-size: 30px;
	border-left: 12px solid #990033;
}

#boxC input[type="checkbox"].on-off{
    display: none;
}

#boxC .menu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    background: #FFE4E1;
	border-left: 12px solid #990033;
}

#boxC .menu li {
    padding: 15px;
}

#boxC input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

#boxC input[type="checkbox"].on-off:checked + ul{
    height: 180px;
}
/*---------- 左メニューここまで ----------*/