@CHARSET "UTF-8";

.slide {
	width: 800px;
	position: relative;
	margin: 0 auto;
}

.slide .item {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

.slide .item.next {
	left: 50px;
	opacity: 0;
}

.slide .item img {
	width: 800px;
}

.slide .item input[type="image"] {
	width: 800px;
}

div#thumbnail {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

div#thumbnail td{
	text-align: center;
}

div#thumbnail img{
	width: 120px;
	height: 80px
}

div#thumbnail input[type="image"]{
	width: 120px;
	height: 80px
}