@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-image: url("bg1.gif");
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo,
		sans-serif;
}
/* ページ全体のレイアウト */
#container {
	width: 1580px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*---------- ヘッダ用 ----------*/
#boxA {
	background-color: #ffdead;
	height: 150px;
	font-size: 40px;
}

#boxA table{
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	background-color: #ffdead;
}

#boxA td.usrs{
	text-align: right;
	vertical-align: bottom;
	margin: 0;
}
/*---------- ヘッダ用ここまで ----------*/

/*---------- メインコンテンツ ----------*/
#boxB {
	padding: 20px;
}
/*---------- メインコンテンツここまで ----------*/
