* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  }


body {
	background: #FCEAD4;
	font-size:small;
 	color: #6A1F00;
}

div#conteiner {
	width: 875px;
	height:auto;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}

div#header {
	width: 875px;
	height:140px;
	margin-top:15px;
}

div#header h1 {
	float:left;
}

div#header p {
	float:right;
	background: #FC5000 url(../img/nav-bk.jpg);
	width:735px;
	height:125px;
}


h2 {
	padding: 0px 0px 15px;
	font-weight: normal;

}

div#contents {

	height:auto;
	overflow:auto;
	width: 875px;
	clear: both;

}

div#localnav {
	width:215px;
	height:auto;
	background: #FCEAD4 url(../img/menu-bk.jpg);
	float:left;
	overflow:hidden;
	padding: 20px;
}


div#localnav li {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: bold;
	padding-bottom:1em;
}

div#localnav h3{
font-size: 1.5em;
padding-bottom: 0.6em;
}

div#article {
	float:right;
	width:600px;
	font-size: 0.9em;
	line-height:1.5em;
	margin-left: 20px;
}

div#article h2 {
	width:600px;
	height:155px;
	background: url(../img/photo.jpg) no-repeat left top;
	font-size: 1px;
}

div#article p {
	font-size: 1em;
	line-height:2em;
}





div#footer {
	clear:both;
	height:9px;
	background: #FC4300 url(../img/footer-bk.jpg) repeat-x left top;
	color:#ffffff;
	text-align:center;
	margin-top:20px;
	padding: 10px;
}

div#footer address {
  font-size: small;
  font-style: normal;


  }
