@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo,
		sans-serif;
}

#header {
	color: red;
	background-color: #ffdead;
	width: 100%;
	height: 120px;
	font-size: 40px;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 4px;
}

#contents table.style {
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	border-collapse: collapse;
	border: 1px solid #DC143C;
}

/* thの指定 */
#contents table.style th {
	font-weight: normal;
	background-color: #FFEBCD;
	border: 1px solid #DC143C;
	text-align: center;
	padding: 12px;
}

/* tr tdの指定 */
#contents table.style tr td {
	width: 583px;
	background-color: #ffdead;
	border: 1px solid #DC143C;
	text-align: center;
	font-size: 28px;
	padding: 2px;
}

#contents table.cart {
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	border-collapse: collapse;
	border: 1px solid #DC143C;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#contents table.cart tr td {
	width: 200px;
	font-color: #CC0000;
	background-color: #ffffe0;
	border: 1px solid #DC143C;
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

font {
	text-align: center;
	font-size: 28px;
}

font2 {
	text-align: center;
	font-size: 24px;
}

.btn1 {
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	font-family:"Meiryo UI";
	color: #000000;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
}

.btn1:hover {
	background: #fcbc3c;
	text-decoration: none;
}

#change table.admin tr td {
	padding-top: 0px;
	padding-bottom: 0px;
}

#change input[type="submit"] {
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo,
		sans-serif;
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;
}

#change input[type="submit"]:hover {
	background: #fcbc3c;
	text-decoration: none;
}

#change div.item {
	font-size: 13px;
}

#contents input[type="text"],#contents input[type="password"] {
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

#contents table.select {
	margin-right: auto;
	margin-left: auto;
}

#contents input[type="text"], #contents select{
	font-size: 20px;
}

#contents table.admin {
	border-style: solid #DC143C;
	background-color: #FFEBCD;
	border-collapse: collapse;
	border: 1px solid #DC143C;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#contents table.admin td {
	width: 230px;
	font-color: #CC0000;
	background-color: #ffffe0;
	border-right: 1px solid #DC143C;
	border-left: 1px solid #DC143C;
	text-align: center;
	font-size: 20px;
	padding: 2px;
}

#contents table.admin td.bottom {
	border-bottom: 1px solid #DC143C;
}

#list {
	text-align: center;
}

#list ul {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#bdr1 {
	margin: 30px 250px;
	padding: 0px 50px;
	border: inset 5px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#bdr2 {
	width: 500px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 50px;
	border: inset 5px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#bdr2 table{
	margin-top: 10px;
	border-collapse: collapse;
}

#bdr2 table tr td{
	width: 250px;
	text-align: left;
	font-size: 20px;
	padding: 2px;
}

#bdr2 table.ud tr td{
	width: 150px;
	text-align: center;
	padding: 2px;
}

#bdr2 table tr.dsh td {
	width: 250px;
	text-align: left;
	font-size: 15px;
	padding: 2px;
	border-bottom: dashed thin black;
}

#bdr2 table tr td input{
	font-size: 20px;
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);

}

#bdr3 {
	width: 500px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 50px;
	border: inset 5px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#bdr3 table{
	margin-top: 10px;
	border-collapse: collapse;
	text-align: left;
	font-size: 20px;
}

#bdr3 table tr.dsh td.id {
	vertical-align: top;
	width: 50px;
	padding: 2px;
	border-bottom: none;
}

#bdr3 table tr.dsh td.ctg {
	width: 200px;
	font-size: 20px;
	padding: 2px;
	border-bottom: dashed thin black;
}

#bdr3 table tr.dsh td.abt {
	width: 200px;
	font-size: 20px;
	padding: 2px;
	border-bottom: dashed thin black;
}

#bdr3 table tr.dsh td.del {
	text-align: center;
	width: 50px;
	font-size: 20px;
	padding: 2px;
	border-bottom: none;
}

#bdr4 table{
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 10px 10px;
}

#bdr4 table tr td{
	width: 250px;
	text-align: center;
	font-size: 15px;
	padding: 2px;border: inset 2px #DC143C;
	background-color: #ffdead;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#bdr4 table tr td input[type="submit"]{
	background: #ffb700;
	background-image: -webkit-linear-gradient(top, #ffb700, #ff8400);
	background-image: -moz-linear-gradient(top, #ffb700, #ff8400);
	background-image: -ms-linear-gradient(top, #ffb700, #ff8400);
	background-image: -o-linear-gradient(top, #ffb700, #ff8400);
	background-image: linear-gradient(to bottom, #ffb700, #ff8400);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 0px 1px 3px #000000;
	/* font-family: Arial; */
	color: #ffffff;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;font-size: 20px;
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}
